/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Roboto');

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none
}


/* css start */

.section-one {
    height: 100vh;
    display: grid;
    align-items: center;
}


.section-one {
    grid-template-columns: 15vw auto
}

.section-one .container {
    grid-column-start: 2;
}

.section-one .row {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}

.box {
    background: #3d97f7;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 70px 50px;
    text-align: center;
    font-size: 20px;
}

.section-one .row:before,
.section-one .row:after {
    display: none;
}


/*  COlor Picker */
.color_picker {
    background: #f1ebf9;
    display: grid;
    justify-content: center;
    padding-top: 100px;
    position: fixed;
    width: 15vw;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
}
#demoWheel {
    display: grid;
    justify-content: center;
}
/* Range Slide */
.font_changer {
    width: 100%;
}

.range_slider {
    height: 20px;
    -webkit-appearance: none;
    border-radius: 50px;
    outline: none;
    background: #f2f2f2;
    border: .5px solid #d1d1d1;
    box-shadow: inset 0 0 20px #d1d1d1;
    overflow: hidden;
}


.range_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 5px solid #fff;
    box-shadow: -407px 0 0 390px #3d97f7;
}

.range_slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    outline: none;
    width: 10px;
    height: 10px;
    background: #3d97f7;
    cursor: pointer;
    border: 5px solid #fff;
    box-shadow: -407px 0 0 390px #3d97f7;
}


/* Font Family Change */
select {
    height: 30px;
    margin-left: 10px;
}



/*RESPONSIVE*/

/* -----  Tablet Landscape   -----*/
@media only screen and (min-width: 285px) and (max-width: 1300px) {
    .body_main{
        display:grid;
    }
    .section-one {
        grid-template-columns: auto;
        padding: 50px 0;
    }
    .section-one .container {
        grid-column-start: unset;
    }
    .color_picker {
        padding: 60px 0px;
        height: auto;
        grid-template-columns: repeat(2, auto);
        position: relative;
        width: 100vw;
        grid-column-gap: 60px;
        grid-row: 1/2;
    }
}
/* -----  Tablet Portrait  ---------*/
@media (min-width: 768px) and (max-width: 991px) {
}
/* -----  Phone  -----*/
@media only screen and (max-width: 767px) {
}
/* -----   Mobile Vertical Layout: 488px   -----*/
@media only screen and (min-width: 488px) and (max-width: 659px) {
    .color_picker { 
        grid-column-gap: 20px; 
        padding: 40px 20px;
    } 
}